* {
    box-sizing: border-box;
}

html, body, h1, p {
    margin: 0;
    padding: 0;
}

#comps {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: lightgray;
}

/* Badge Colors */

.gray {
    background-color: #F3F4F6;
    color: #1F2937;
}

.red {
    background-color: #FEE2E2;
    color: #991B1B;
}

.yellow {
    background-color: #FEF3C7;
    color: #92400E;
}

.green {
    background-color: #D1FAE5;
    color: #065F46;
}

.blue {
   background-color: #DBEAFE;
    color: #1E40AF; 
}

.indigo {
    background-color: #E0E7FF;
    color: #3730A3;
}

.purple {
    background-color: #EDE9FE;
    color: #5B21B6;
}

.pink {
    background-color: #FCE7F3;
    color: #9D174D;
}

/* Badge Type */

.pill {
    border: none;
    border-radius: 12px;
    padding: 2px 12px;
    width: 67px;
    height: 24px;
}

.square {
    border: none;
    border-radius: 4px;
    padding: 2px 12px;
    width: 67px;
    height: 24px;
}

.pill, .square {
    font-weight: 500;
    font-size: 14px;
}

/* Banner Variations */

.banner {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    width: 896px;
    font-weight: 500;
    font-size: 14px;
}

.titleDiv {
    display: flex;
    align-items: center;
    gap: 8px;
}

.titleDiv > img {
    width: 20px;
    height: 20px;
}

.titleDiv > h1 {
    font-size: 14px;
}

.infoDiv > p {
    font-size: 14px;
}

.infoDiv {
    font-weight: 400;
    margin-left: 28px;
}

.success {
    background-color: #ECFDF5;
}

.success-title {
    color: #065F46;
}

.success-info {
    color: #047857;
}

.warning {
    background-color: #FFFBEB;
}

.warning-title {
    color: #92400E;
}

.warning-info {
    color: #B45309;
}

.error {
    background-color: #FEF2F2;
}

.error-title {
    color: #92400E;
}

.error-info {
    color: #B45309;
}

.neutral {
    background-color: #EFF6FF;
}

.neutral-title {
    color: #1E40AF;
}

.neutral-info {
    color: #1C51B9;
}

/* Cards */

.card {
    position: relative;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 384px;
    height: 208px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.cardIcon {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.card > h1 {
   font-size: 18px;
   font-weight: 500; 
   line-height: 28px;
   color: #111827;
}

.card > p {
   font-size: 16px;
   font-weight: 400; 
   color: #6B7280;
   line-height: 24px;
}

.card:hover {
    box-shadow: 0px 4px 25px 0px #0000001A;
}

.cardIcon:hover {
    box-shadow: 0px 4px 6px -2px #0000000D;
    /* box-shadow: 0px 10px 15px -3px #0000001A;   */
}
